<ion-view view-title="Nova sala de bate papo" align-title="left">
    <ion-content> <!-- style="background-color:grey;" -->
        <div class="no-header">
        </div>
        <form ng-submit="cadastrarSala()">
            <div class="list">
                <ion-md-input ng-model="sala.nome" placeholder="Nome" highlight-color="assertive" type="text" required next></ion-md-input>
                <ion-md-input ng-model="sala.descricao" placeholder="Descrição" highlight-color="assertive" type="text" required next></ion-md-input>
               
                <div class="list card stable-bg">
                    <img src="{{sala.imagem || 'img/placeholder.png'}}" class="center-img">
                    <div class="button-bar">
                        <a href="" class="button icon ion-images button-raised ink-dark" ng-click="carregarImagemGaleria()"> Galeria</a>
                        <a href="" class="button icon ion-android-camera button-raised ink-dark" ng-click="tirarFoto()"> Camera</a>
                    </div>
                </div>

                <ion-toggle ng-model="sala.publica" toggle-class="toggle-assertive" class="teste">Sala privada?</ion-toggle>
                <ion-md-input ng-model="sala.senha" placeholder="Senha" highlight-color="assertive" type="password" required ng-show="sala.publica"></ion-md-input>

            </div>

            <div class="padding">
                <button class="button button-full button-assertive ink" tabindex="6" type="Criar">Enviar</button>
            </div>

        </form>
    </ion-content>
</ion-view>