<ion-view view-title="QTC">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Conversar privadas
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Amigos
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Galeria
            </a>
        </div>
        <div class="list animate-fade-slide-in-right">
            <a class="item item-avatar item-icon-right" ng-repeat="sala in salas">
                <img src="{{sala.imagem ? sala.imagem : 'img/crown.jpg'}}">
                <h2>{{sala.nome}}</h2>
                <p>{{sala.nome}}</p>
                <i class="icon ion-person muted">{{sala.usuarios.length}}</i>
            </a>
            <a class="item item-avatar item-icon-right" ng-show="salas.length < 1">
                <img src="img/crown.jpg">
                <h2>Nenhuma sala encontrada.</h2>
                <p></p>
                <!-- <i class="icon ion-chatbubble muted"></i> -->
            </a>
        </div>
    </ion-content>
</ion-view>
